/* 전체 적용 */
body{
    display: contents;
}

*{
    font-size: 14px;
    font-family: Apple SD Gothic Neo, arial, sans-serif;
    color: var(--COEmY);
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 상단메뉴 */
.top-box{
    padding: 6px;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

a.link-box:first-of-type{
    margin-left: 15px;
}

a.link-box{
    display: inline-block;
    padding: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.float-right {
    flex-grow: 1;
}

/* 구글 로고이미지 배치 */
.middle-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    height: calc(100vh - 560px);
    max-height: 290px;
    box-sizing: border-box;
    position: relative;
}

.img-box{
    margin-top: auto;
}

/* 검색창&버튼 */
.search-box{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.input-box {
  width: 582px;
  min-height: 44px;
  font-size: 15px;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #dfe1e5;
}

.icon-search {
    position: relative;
    left:40px;
    color: #9aa0a6;
}

.icon-keyboard {
    position: relative;
    right: 40px;
    color: var(--COEmY);
}

.button-area {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.button-box {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
}

.button-box:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* 하단 메뉴 */
.bottom-box {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.bottom-box-1 {
    box-sizing: border-box;
    height: 49px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #dadce0;
    border-bottom-width: 1px;
    font-size: 15px;
    color: #202124;
}

.bottom-box-2 {
    box-sizing: border-box;
    height: 46.5px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}

.bottom-box-2-item{
    margin-right: 30px;
}

.bottom-span-box-1 {
    margin-left: 50px;
}

.bottom-span-box-2 {
    float: right;
}
